.main {
  padding-top: 100px;
  color: white;
  text-align: center;
}

.buttons {
  position: fixed;
  padding: 100px;
  left: -100px;
  bottom: 0;
  width: 100%;
  color: white;
}

.buttons button {
  font-weight: bold;
  font-size: large;
  margin: 10px;
  background-color: #3d394e;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 20px;
  width: 150px;
  height: 100px;
}

.buttons button:hover {
  scale: 1.01;
  background-color: #312d40;
}

.main form input {
  font-size: medium;
  color: white;
  text-indent: 10px;
  width: 500px;
  height: 50px;
  background-color: #3d394e;
  border: none;
  border-radius: 10px;
}

.main form button {
  font-size: medium;
  color: white;
  width: 500px;
  height: 50px;
  background-color: #312d40;
  border: none;
  border-radius: 10px;
}